<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">
 	
 	
	<resultMap id="productSelectMap" type="product">
		<result property="fileName" column="image_file" jdbcType="VARCHAR"/>
		<result property="manuDate" column="manufacture_day" jdbcType="VARCHAR"/>
		<result property="price" column="price" jdbcType="INTEGER"/>
		<result property="prodDetail" column="prod_detail" jdbcType="VARCHAR"/>
		<result property="prodName" column="prod_name" jdbcType="VARCHAR"/>
		<result property="prodNo" column="prod_no" jdbcType="INTEGER"/>
		<result property="regDate" column="reg_date" jdbcType="DATE"/>
		<result property="prodCount" column="prod_count" jdbcType="INTEGER"/>
		<result property="prodInven" column="prod_inven" jdbcType="INTEGER"/>
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addProduct"		parameterType="product" >
	 	INSERT 
	 	INTO product(
	 		prod_no, prod_name, prod_detail, manufacture_day,
	 		price, image_file, reg_date, prod_count, prod_inven)
	 	VALUES(
	 	seq_product_prod_no.nextval,
	 	#{prodName},
	 	#{prodDetail},
	 	#{manuDate},
	 	#{price},
	 	#{fileName:VARCHAR},
	 	SYSDATE,
	 	#{prodCount},
	 	#{prodCount})
	 	
	 </insert>
	 
	 <select id="getProduct"	parameterType="integer"	resultMap="productSelectMap">
		SELECT
		prod_no, prod_name,prod_detail,manufacture_day,
		price, image_file, reg_date, prod_count, prod_inven 		
		FROM product 
		WHERE prod_no = #{prodNo}
	 </select>
	 
	 <!-- SQL : UPDATE -->
	 <update	id="updateProduct"	parameterType="product" >
	   	UPDATE product
	   	<set>
	   		prod_name 	= #{prodName} ,
			prod_detail	= #{prodDetail},
			manufacture_day	= #{manuDate},
			price				=	#{price},
			image_file	= #{fileName:VARCHAR},
			prod_count = #{prodCount:INTEGER},
			prod_inven = #{prodInven:INTEGER}
		</set>
	   	WHERE prod_no = #{prodNo}
	 </update>
		 
	<!-- SQL : SELECT LIST -->
	<select  id="getProductList"  parameterType="search"	resultMap="productSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  			FROM	(	SELECT distinct p.* 
							FROM product p, transaction t
								<if test="searchCondition != null">
									<where>
										<if test="searchCondition == 0 and searchKeyword !='' ">
							 				prod_no == #{searchKeyword}
										</if>
										<if test="searchCondition == 1 and searchKeyword !='' ">
							 				prod_name LIKE #{searchKeyword}
										</if>
										<if test="searchCondition == 2 and searchKeyword !='' ">
							 				price = #{searchKeyword}
										</if>
										<if test="1==1">
											p.prod_no = t.prod_no(+)
										</if>
									</where>
								</if>
					ORDER BY p.prod_no ${ordering} ) inner_table
				WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
		 
	 </select>
	 
	 
	 
	 
	 <update id="updateProductCount" parameterType="map">
	 	UPDATE product
	 	SET prod_inven = prod_inven - #{purchaseCount}
	 	WHERE prod_no = #{prodNo}
	 
	 </update>
	 		 
	 
	 
	 		 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT distinct p.* 
				FROM product p
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			prod_no = #{searchKeyword}
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 			prod_name LIKE #{searchKeyword}
								</if>
								<if test="searchCondition == 2 and searchKeyword !='' ">
						 			price = #{searchKeyword}
								</if>
							</where>
						</if> ) countTable						
	 </select>
	 
</mapper>